.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 2s ease-in;
  height: 6vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotatey(0deg);
  }
  to {
    transform: rotatey(360deg);
  }
}
#header-logo{
  width: 100%;
  z-index: 999; 
  stroke-dasharray:2;
  stroke-dashoffset:2;
  animation: line-anim 5s ease forwards;
}
.navbar-collapse{
  flex-basis: 100%;
}

@media screen and (min-width:992px){
  .navbar-collapse{
    flex-basis: auto;
  }
}
@keyframes line-anim{
  to{
    stroke-dasharray: none;
    stroke-dashoffset: 0;
  }
}
.icon-bar {
  background-color: #fff;
}
.icon-bar {
  position: relative;
	z-index: 1;
	display: block;
	margin-bottom: 6px;
	width: 24px;
	height: 2px;
	background-color: rgba(255, 255, 255, 1);
}